<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>**title**</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style type="text/css">
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        #content {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0px;
        }
    </style>
</head>

<body>
    <script>
        const CID = "**CID**";
        async function detectGateway() {
            return new Promise(resolve => {
                const gw = ["https://cloudflare-ipfs.com/ipfs/",
                    "https://gateway.pinata.cloud/ipfs/",
                    "https://ipfs.io/ipfs/",
                    "https://ipfs.io/ipfsss/",
                ];
                gw.forEach((item, i) => {
                    fetch(item + "QmeCGMURVkuAFvE7dVrwrpNKXJdMkqgg1UVXmAwnBmZ2eS/").then(res => res.text()).then(txt => {
                        if (txt == "helloNBdomain") {
                            resolve(item);
                            return;
                        }
                    })
                })

            })
        }
    </script>
    <div id="content">
        <iframe width="100%" height="100%" frameborder="0" src="**frame_url**" />
    </div>
</body>

</html>